[submodule "myblog/public"]
	path = myblog/public
	url = https://github.com/Ilisim/ilisim.github.io.git
	branch = main
[submodule "myblog/content/posts/public"]
	path = myblog/content/posts/public
	url = https://github.com/Ilisim/ilisim.github.io.git
	branch = main
